*.log
.idea/**/*
.vscode/*
target/
*.jar
*.iml
**/dependency-reduced-pom.xml
**/.DS_Store
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
